@media (max-width: 575.98px) {
    .cart-container {
        .MuiTypography-root {
            background-color: #f1efef;

            .MuiBreadcrumbs-ol {
                font-size: 12px;
                max-width: 90%;
                margin: auto;
                margin-bottom: 20px;
                padding: 5px;

                .MuiBreadcrumbs-li>a {
                    color: #aaa;
                    font-weight: 500;
                }
            }

        }

        .top-display {
            width: 100%;
            margin: auto;
        }

        .Cart-slider {
            width: 95%;
            height: 8rem;
            margin: 0.5rem auto;
            overflow: hidden;
            border: solid 10px var(--colorWhite);
            border-radius: 10px;
            box-shadow: 0px 0px 20px #0000001f;

            .alice-carousel {
                width: 100%;
                height: 8rem;
                overflow: hidden;

                .alice-carousel__dots,
                .alice-carousel__prev-btn,
                .alice-carousel__next-btn {
                    display: none;
                }

                .alice-carousel__stage-item {
                    img {
                        width: 100%;
                    }
                }
            }

        }

        .category-shop {
            max-width: 96%;
            margin: auto;
            margin-bottom: 20px;
            justify-content: space-between;

            section {
                border: 20px solid #fff;
                border-radius: 10px;
                padding: 5px;
                box-shadow: 2px 2px 10px #0000001a;
            }

            .side-nav {
                display: none;

                p {
                    display: none;
                }
                li {
                    display: none;
                }
            }
            .shop {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }


        
    }



    // .Ads-slider {
    //     width: 90%;
    //     height: 5% !important;
    //     margin: 2rem auto;
    //     overflow: hidden;
    //     border: solid 15px var(--colorWhite);
    //     border-radius: 10px;
    //     box-shadow: 0px 0px 20px var(--colorLight);
    // }

    // .Ads-slider>.alice-carousel {
    //     width: 100% !important;
    //     height: 200px !important;
    // }

    // .Ads-slider>.alice-carousel__stage-item>img {
    //     height: 300px !important;
    // }





}

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }