@import '~antd/dist/antd.css';

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.sider{
  
  color:#cccc;
  margin-top:35px;
  

}
.App-header {
  background-color: #004214;
  min-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: right;
  padding:15px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.style1{
  margin-left:20px;
  margin-top:20px;
  font-size: 15px;
  float:left;
  flex-direction:column;
}
.icon{
  float:right;
  padding:2px 0;
  margin-top:12px;
  margin-right: 12px;
  background-color: #87d068;
}

.h-style1{
  margin-left:20px;
  margin-top:20px;
  padding: 8px 0;
  font-size: 15px;
  float:right;
  flex-direction:column;
}
.text-style1{
  background-color: #ffff;
  min-height:20px;
  
  font-size: calc(10px + 2vmin);
   color:white;
}
.App-link {
  color: #61dafb;
}
.divider{
  color:#ffff;
}


#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #ffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.sider-layout {
  background: #cccc;
  
}