.Auction {
    max-width: 98%;
    margin: auto;
    padding: 10px;
}
.auction-header{
    width: 100%;
    padding: 10px;
    font-weight: 700;
    background-color: var(--colorYellow);
    color: #fff;    
    display: flex;
    justify-content: space-between;
}
.auction-header > p{
    font-size: 17px;
    font-weight: 700;
}
.Auction-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.auction-card {
    width: 24%;
    height: 340px;
    overflow: hidden;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 1px 1px 7px #00000023;
}

.auction-top {
    display: flex;
    width: 100%;
    height: 290px;
    padding: 10px 5px;
    margin: auto;
}

.auction-top>.image-container {
    width: 50%;
    height: 370px;
    overflow: hidden;
}

.auction-top>.image-container>img {
    width: 180px;
    margin: auto;
    margin-left: -25px;
}

.auction-details {
    width: 50%;
}

.bids {
    background-color: #f3f1f1;
    height: 150px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.highest-bider {
    padding: 5px 0;
    font-size: 12px;
    font-weight: 800;
    color: var(--colorRed);
    width: 85%;
    margin: auto;
}

.previous-bider {
    padding: 5px 0;
    font-size: 12px;
    font-weight: 700;
    color: #8d8c8c;
    width: 85%;
    margin: auto;
}

.max-amount {
    width: 80%;
    margin: 10px auto;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: -9px;
}
.auction-timer {
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.auction-timer>.time {
    display: flex;
    font-size: 30px;
    font-weight: 700;
    width: 70%;
    margin: auto;
    margin-top: -9px;
}

.place-btn {
    width: 80%;
    margin: auto 33px;
    padding: 10px 0px;
    background-color: var(--colorYellow);
    color: var(--colorWhite);
    border: none;
    font-weight: 700;
    background-color: none !important;
}