
@media (max-width: 575.98px) { 
    .blog-body{
        background-color: var(--colorLight);
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        padding: 10px;
        .blog{
            background-color: var(--colorWhite);
            padding: 10px;
            margin: 10px auto;
            width: 48%;
            overflow: hidden;
            border: solid 0.5px var(--colorAsh);
            border-radius: 10px;
          
            .Imagecontainer {
              overflow: hidden;
              width: 430px;
              margin-top: -10px;
              height: 200px;
              background-color: var(--colorBlack);
              img {
                width: 300px;
                margin: auto;
                height: 250px;
                &:hover {
                  transition: all 1s linear;
                  background-color: var(--colorBlack);
                  opacity: 50%;
                  transform: scale(1.2);
                }
              }
            }
            .blogtext {
              width: 90%;
              margin: auto;
          
              p {
                text-align: center;
                font-size: 20px;
                font-weight: bolder;
              }
              .content {
                font-size: 15px;
                height: 90px;
                width: 100%;
                white-space: pre-wrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: justify;
                text-justify: inter-word;
              }
              .Blogdetails {
                color: var(--colorAsh);
                width: 100%;
                padding: 10px;
                i {
                  margin: 0 10px;
                }
                .post-by {
                  width: 50%;
                  text-align: center;
                }
                .comments {
                  width: 50%;
                  text-align: center;
                }
              }
            }
            
          
        }
    }
 }

@media (min-width: 576px) and (max-width: 767.98px) {
    .blog-body{
        background-color: var(--colorLight);
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        padding: 10px;
        .blog{
            background-color: var(--colorWhite);
            padding: 10px;
            margin: 10px auto;
            width: 48%;
            overflow: hidden;
            border: solid 0.5px var(--colorAsh);
            border-radius: 10px;
          
            .Imagecontainer {
              overflow: hidden;
              width: 430px;
              margin-top: -10px;
              height: 200px;
              background-color: var(--colorBlack);
              img {
                width: 300px;
                margin: auto;
                height: 250px;
                &:hover {
                  transition: all 1s linear;
                  background-color: var(--colorBlack);
                  opacity: 50%;
                  transform: scale(1.2);
                }
              }
            }
            .blogtext {
              width: 90%;
              margin: auto;
          
              p {
                text-align: center;
                font-size: 20px;
                font-weight: bolder;
              }
              .content {
                font-size: 15px;
                height: 90px;
                width: 100%;
                white-space: pre-wrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: justify;
                text-justify: inter-word;
              }
              .Blogdetails {
                color: var(--colorAsh);
                width: 100%;
                padding: 10px;
                i {
                  margin: 0 10px;
                }
                .post-by {
                  width: 50%;
                  text-align: center;
                }
                .comments {
                  width: 50%;
                  text-align: center;
                }
              }
            }
            
          
        }
    }
 }

@media (min-width: 768px) and (max-width: 991.98px) {  .blog-body{
    background-color: var(--colorLight);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding: 10px;
    .blog{
        background-color: var(--colorWhite);
        padding: 10px;
        margin: 10px auto;
        width: 48%;
        overflow: hidden;
        border: solid 0.5px var(--colorAsh);
        border-radius: 10px;
      
        .Imagecontainer {
          overflow: hidden;
          width: 430px;
          margin-top: -10px;
          height: 200px;
          background-color: var(--colorBlack);
          img {
            width: 300px;
            margin: auto;
            height: 250px;
            &:hover {
              transition: all 1s linear;
              background-color: var(--colorBlack);
              opacity: 50%;
              transform: scale(1.2);
            }
          }
        }
        .blogtext {
          width: 90%;
          margin: auto;
      
          p {
            text-align: center;
            font-size: 20px;
            font-weight: bolder;
          }
          .content {
            font-size: 15px;
            height: 90px;
            width: 100%;
            white-space: pre-wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: justify;
            text-justify: inter-word;
          }
          .Blogdetails {
            color: var(--colorAsh);
            width: 100%;
            padding: 10px;
            i {
              margin: 0 10px;
            }
            .post-by {
              width: 50%;
              text-align: center;
            }
            .comments {
              width: 50%;
              text-align: center;
            }
          }
        }
        
      
    }
} }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .blog-body{
        background-color: var(--colorLight);
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        padding: 10px;
        .blog{
            background-color: var(--colorWhite);
            padding: 10px;
            margin: 10px auto;
            width: 24%;
            overflow: hidden;
            border: solid 0.5px var(--colorAsh);
            border-radius: 10px;
          
            .Imagecontainer {
              overflow: hidden;
              width: 430px;
              margin-top: -10px;
              height: 200px;
              background-color: var(--colorBlack);
              img {
                width: 300px;
                margin: auto;
                height: 250px;
                &:hover {
                  transition: all 1s linear;
                  background-color: var(--colorBlack);
                  opacity: 50%;
                  transform: scale(1.2);
                }
              }
            }
            .blogtext {
              width: 90%;
              margin: auto;
          
              p {
                text-align: center;
                font-size: 20px;
                font-weight: bolder;
              }
              .content {
                font-size: 15px;
                height: 90px;
                width: 100%;
                white-space: pre-wrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: justify;
                text-justify: inter-word;
              }
              .Blogdetails {
                color: var(--colorAsh);
                width: 100%;
                padding: 10px;
                i {
                  margin: 0 10px;
                }
                .post-by {
                  width: 50%;
                  text-align: center;
                }
                .comments {
                  width: 50%;
                  text-align: center;
                }
              }
            }
            
          
        }
    }
 }

// // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .blog-body{
        background-color: var(--colorLight);
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        padding: 10px;
        .blog{
            background-color: var(--colorWhite);
            padding: 10px;
            margin: 10px auto;
            width: 24%;
            overflow: hidden;
            border: solid 0.5px var(--colorAsh);
            border-radius: 10px;
          
            .Imagecontainer {
              overflow: hidden;
              width: 430px;
              margin-top: -10px;
              height: 200px;
              background-color: var(--colorBlack);
              img {
                width: 300px;
                margin: auto;
                height: 250px;
                &:hover {
                  transition: all 1s linear;
                  background-color: var(--colorBlack);
                  opacity: 50%;
                  transform: scale(1.2);
                }
              }
            }
            .blogtext {
              width: 90%;
              margin: auto;
          
              p {
                text-align: center;
                font-size: 20px;
                font-weight: bolder;
              }
              .content {
                font-size: 15px;
                height: 90px;
                width: 100%;
                white-space: pre-wrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: justify;
                text-justify: inter-word;
              }
              .Blogdetails {
                color: var(--colorAsh);
                width: 100%;
                padding: 10px;
                i {
                  margin: 0 10px;
                }
                .post-by {
                  width: 50%;
                  text-align: center;
                }
                .comments {
                  width: 50%;
                  text-align: center;
                }
              }
            }
            
          
        }
    }
 }