.fp-container {
  width: 70%;
  height: 70%;
  margin: auto;
  margin-top: 10rem;
  box-shadow: 2px 2px 50px #aaaaaa52;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  color: #5e5c5c;
  justify-content: center;
  align-items: center;
}
.fp-container > p {
  font-size: 30px;
  font-weight: 900;
}
.fp-container > small {
  font-size: 17px;
  margin-bottom: 15px;
}
.fp-container > form{
    width: 70%;
}
.fp-container > form > .form-group {
  display: flex;
  flex-direction: row !important;
  width: 100%;
}
.fp-container > form > .form-group > input {
  height: 50px;
  width: 70%;
}
.fp-container > form > .form-group > button {
  margin: 0 5px;
  width: 40%;
}
.fp-container > form > a >.back {
  margin: auto;
  color: #727171;
  background-color: #e7e5e5;
  border: none;
  border-radius: 5px;
  padding: 10px;
}


@media screen and (max-width: 1080px) {
  .fp-container > p {
    font-size: 20px;
  }
  .fp-container > form{
    width: 98%;
}
.fp-container > form > .form-group > button {
  font-size: 10px;
}
}