@media (max-width: 575.98px) { 
    .items-card-container {
        margin: 2rem auto;
        max-width: 100%;
        
    } 
    button.right-btn,button.left-btn{
        box-shadow: 1px 1px 10px #0000002f;
        background-color: var(--colorWhite);
        padding: 10px;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        outline: none;
    }
    .items-card-display {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
    }
    .item-card {
        background-color: var(--colorWhite);
        margin: 4px;
        width: 190px;
        color: black;
        height: 290px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-shadow: 0px 0px 7px #00000020;
        padding: 10px;
        border: solid 0.5px transparent;
    }
    
    .item-card:hover {
        transition: 0.3s;
        border: solid 0.5px var(--colorAsh);
        text-decoration: none;
    
    }
    .item-card>.Card-top{
        align-items: center;
        text-align: center;
    }
    .item-card>.Card-top>.category {
        font-size: 12px;
    }
    
    .item-card>.Card-top>p {
        margin-top:0.5rem;
        margin-bottom: -0.1rem;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .item-card>.image-container {
        width: 100%;
        margin: auto;
        height: 180px;
        overflow: hidden;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    
    .item-card>.image-container>img {
        width: 100%;
        margin: auto;
        height: 180px;
    }
    
    .item-card>.amount {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
    }
    
    
 }

@media (min-width: 576px) and (max-width: 767.98px) { 
    .items-card-container {
        margin: 2rem auto;
        max-width: 100%;
        
    } 
    button.right-btn,button.left-btn{
        box-shadow: 1px 1px 10px #0000002f;
        background-color: var(--colorWhite);
        padding: 10px;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        outline: none;
    }
    .items-card-display {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
    }
    .item-card {
        background-color: var(--colorWhite);
        margin: 4px;
        width: 230px;
        color: black;
        height: 290px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-shadow: 0px 0px 7px #00000020;
        padding: 10px;
        border: solid 0.5px transparent;
        .Card-top{
            align-items: center;
            text-align: center;
            p {
                margin-top:0.5rem;
                margin-bottom: -0.1rem;
                text-align: center;
                font-size: 15px;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            
            .category {
                font-size: 12px;
            }
        }
        .image-container {
            width: 100%;
            margin: auto;
            height: 180px;
            overflow: hidden;
            align-content: center;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                margin: auto;
                height: 180px;
            }
        }
        .amount {
            text-align: center;
            font-size: 22px;
            font-weight: bold;
        }
    }
    
    .item-card:hover {
        transition: 0.3s;
        border: solid 0.5px var(--colorAsh);
        text-decoration: none;
    
    }
    
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
    .items-card-container {
        margin: 2rem auto;
        max-width: 100%;
        
    } 
    button.right-btn,button.left-btn{
        box-shadow: 1px 1px 10px #0000002f;
        background-color: var(--colorWhite);
        padding: 10px;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        outline: none;
    }
    .items-card-display {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
    }
    .item-card {
        background-color: var(--colorWhite);
        margin: 4px;
        width: 150px;
        color: black;
        height: 290px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-shadow: 0px 0px 7px #00000020;
        padding: 10px;
        border: solid 0.5px transparent;
        .Card-top{
            align-items: center;
            text-align: center;
            p {
                margin-top:0.5rem;
                margin-bottom: -0.1rem;
                text-align: center;
                font-size: 15px;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            
            .category {
                font-size: 12px;
            }
        }
        .image-container {
            width: 100%;
            margin: auto;
            height: 180px;
            overflow: hidden;
            align-content: center;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                margin: auto;
                height: 180px;
            }
        }
        .amount {
            text-align: center;
            font-size: 22px;
            font-weight: bold;
        }
    }
    
    .item-card:hover {
        transition: 0.3s;
        border: solid 0.5px var(--colorAsh);
        text-decoration: none;
    
    }
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .items-card-container {
        margin: 2rem auto;
        max-width: 100%;
        
    } 
    button.right-btn,button.left-btn{
        box-shadow: 1px 1px 10px #0000002f;
        background-color: var(--colorWhite);
        padding: 10px;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        outline: none;
    }
    .items-card-display {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
    }
    .item-card {
        background-color: var(--colorWhite);
        margin: 4px;
        width: 205px;
        color: black;
        height: 290px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-shadow: 0px 0px 7px #00000020;
        padding: 10px;
        border: solid 0.5px transparent;
        .Card-top{
            align-items: center;
            text-align: center;
            p {
                margin-top:0.5rem;
                margin-bottom: -0.1rem;
                text-align: center;
                font-size: 15px;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            
            .category {
                font-size: 12px;
            }
        }
        .image-container {
            width: 100%;
            margin: auto;
            height: 180px;
            overflow: hidden;
            align-content: center;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                margin: auto;
                height: 180px;
            }
        }
        .amount {
            text-align: center;
            font-size: 22px;
            font-weight: bold;
        }
    }
    
    .item-card:hover {
        transition: 0.3s;
        border: solid 0.5px var(--colorAsh);
        text-decoration: none;
    
    }
 }

@media (min-width: 1200px) { 
    .items-card-container {
        margin: 2rem auto;
        max-width: 100%;
        
    } 
    button.right-btn,button.left-btn{
        box-shadow: 1px 1px 10px #0000002f;
        background-color: var(--colorWhite);
        padding: 10px;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        outline: none;
    }
    .items-card-display {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
    }
    .item-card {
        background-color: var(--colorWhite);
        margin: 4px;
        width: 180px;
        color: black;
        height: 290px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-shadow: 0px 0px 7px #00000020;
        padding: 10px;
        border: solid 0.5px transparent;
        .Card-top{
            align-items: center;
            text-align: center;
            p {
                margin-top:0.5rem;
                margin-bottom: -0.1rem;
                text-align: center;
                font-size: 15px;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            
            .category {
                font-size: 12px;
            }
        }
        .image-container {
            width: 100%;
            margin: auto;
            height: 180px;
            overflow: hidden;
            align-content: center;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                margin: auto;
                height: 180px;
            }
        }
        .amount {
            text-align: center;
            font-size: 22px;
            font-weight: bold;
        }
    }
    
    .item-card:hover {
        transition: 0.3s;
        border: solid 0.5px var(--colorAsh);
        text-decoration: none;
    
    }
 }