@media (max-width: 575.98px) {
    .root {
        max-width: 100%;



        .heading {
            width: 90%;
            margin: auto;
            text-align: center;
            padding-top: 2.5rem;
            padding-bottom: -2.5rem;
            font-size: 25px;
            font-weight: 700;
            color: var(--colorGreen);
        }

        .MuiStepper-root {
            padding: 10px;
        }

        .root-body {
            width: 100%;
            margin: auto;

            .summary-container {
                width: 100%;
                margin: 10px auto;


                .item-summary {
                    overflow-y: scroll;
                    height: 16rem;

                    .item-in-cart {
                        width: 90%;
                        margin: 10px auto;
                        background-color: var(--colorLight);
                        border-radius: 10px;
                        padding: 10px;
                        display: flex;

                        .items-in-cart-details {
                            width: 75%;

                            p {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font-size: 16px;
                                color: var(--colorBlack);
                                font-weight: 900;
                                padding: 0 10px;

                            }

                            span {
                                font-size: 13px;
                                padding: 0 10px;

                            }
                        }

                        .items-in-cart-amount {
                            width: 25%;
                            padding: 8px;
                            font-size: 25px;
                            font-weight: 600;
                            color: #aaa;
                        }
                    }
                }

                .total-container {
                    width: 70%;
                    margin: auto;
                    padding: 10px;

                    .ttl {
                        display: flex;
                        margin: 3px 0;
                        justify-content: space-between;

                        p {
                            font-size: 16px;
                            font-weight: 600
                        }
                    }

                }

                .total-amount {
                    width: 80%;
                    margin: auto;
                    padding: 20px;
                    border-top: solid 0.5px #aaa;

                    .ttl {
                        width: 95%;
                        display: flex;
                        margin: 3px 0;
                        justify-content: space-between;

                        p {
                            font-size: 20px;
                            font-weight: 600;
                            color: var(--colorBlack);

                        }

                        .px-1 {
                            color: black;
                        }
                    }
                }
            }
            .delivery-container{
                width: 80%;
                margin: 5px auto;
                background-color: var(--colorLight);
                border-radius: 10px;
                padding: 10px;
                height: 25rem;
                .delivery-add{
                    padding: 5px;
                    .delivery-add-top{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p{
                            font-size: 15px;
                            font-weight: 700;
                            color: #aaa;

                        }
                        a{
                            font-size: 12px;
                            text-transform: uppercase;
                            text-decoration: underline;
                            font-weight: 700;
                            padding: 0 15px;
                            color: var(--colorOrange);
                        }
                    }
                    .delivery-res{
                        padding: 10px 0;
                        font-size: 17px;
                        font-weight: 500;
                    }
                }
            }
        }

        .checkout-btn {
            width: 90%;
            margin: auto;

        }

        .MuiButton-containedPrimary {
            width: 70%;
            margin: 5px;
            padding: 10px;
            border-radius: 10px;
            background-color: var(--colorGreen);

        }

        .MuiButton-root.Mui-disabled {
            color: var(--colorWhite);
            font-size: 30px;
            border-radius: 10px;
            width: 20%;
            padding: 6px;
            background-color: #095202;



        }

        .MuiStepIcon-root.MuiStepIcon-active {
            color: var(--colorYellow);
        }

        .MuiStepIcon-root.MuiStepIcon-completed {
            color: var(--colorGreen);
        }

        .MuiStepConnector-active {
            border-color: var(--colorGreen);
        }

        .MuiStepConnector-lineHorizontal {
            border-top-width: 4px;
        }

        .MuiStepConnector-line-active {
            border-color: var(--colorGreen);
        }

        .MuiStepIcon-text {
            display: none;
        }

        .bck-btn {
            color: var(--colorYellow);
            font-size: 30px;
            border-radius: 10px;
            width: 20%;
            padding: 6px;
            background-color: var(--colorGreen);


        }

        .customer-details-container {
            width: 90%;
            height: 27.05rem;
            margin: auto;
            overflow-y: scroll;

            .customer-details {
                width: 90%;
                margin: auto;
                padding: 10px;
                border-radius: 10px;
                background-color: var(--colorLight);

                .heading {
                    margin: 0;
                    padding: 0;
                    color: #aaa;
                    font-size: 20px;
                }

                .details {
                    width: 98%;
                    margin: auto;

                    span {
                        font-size: 12px;
                        color: #aaa;
                        font-weight: 600;
                    
                    }
                    .response{
                        display: flex;
                        justify-content: space-between;
                        font-size: 20px;
                        margin: 10px 0;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .root {
        max-width: 100%;

        .heading {
            width: 90%;
            margin: auto;
            text-align: center;
            padding-top: 2.5rem;
            padding-bottom: -2.5rem;
            font-size: 25px;
            font-weight: 700;
            color: var(--colorGreen);
        }

        .MuiStepper-root {
            padding: 10px;
        }

        .root-body {
            width: 100%;
            margin: auto;

            .summary-container {
                width: 100%;
                margin: 10px auto;


                .item-summary {
                    overflow-y: scroll;
                    height: 16rem;

                    .item-in-cart {
                        width: 90%;
                        margin: 10px auto;
                        background-color: var(--colorLight);
                        border-radius: 10px;
                        padding: 10px;
                        display: flex;

                        .items-in-cart-details {
                            width: 75%;

                            p {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font-size: 16px;
                                color: var(--colorBlack);
                                font-weight: 900;
                                padding: 0 10px;

                            }

                            span {
                                font-size: 13px;
                                padding: 0 10px;

                            }
                        }

                        .items-in-cart-amount {
                            width: 25%;
                            padding: 8px;
                            font-size: 25px;
                            font-weight: 600;
                            color: #aaa;
                        }
                    }
                }

                .total-container {
                    width: 70%;
                    margin: auto;
                    padding: 10px;

                    .ttl {
                        display: flex;
                        margin: 3px 0;
                        justify-content: space-between;

                        p {
                            font-size: 16px;
                            font-weight: 600
                        }
                    }

                }

                .total-amount {
                    width: 80%;
                    margin: auto;
                    padding: 20px;
                    border-top: solid 0.5px #aaa;

                    .ttl {
                        width: 95%;
                        display: flex;
                        margin: 3px 0;
                        justify-content: space-between;

                        p {
                            font-size: 20px;
                            font-weight: 600;
                            color: var(--colorBlack);

                        }

                        .px-1 {
                            color: black;
                        }
                    }
                }
            }
           
            .customer-details-container {
                width: 90%;
                height: 27.05rem;
                margin: auto;
                overflow-y: scroll;
    
                .customer-details {
                    width: 90%;
                    margin: auto;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: var(--colorLight);
    
                    .heading {
                        margin: 0;
                        padding: 0;
                        color: #aaa;
                        font-size: 20px;
                    }
    
                    .details {
                        width: 98%;
                        margin: auto;
    
                        span {
                            font-size: 12px;
                            color: #aaa;
                            font-weight: 600;
                        
                        }
                        .response{
                            display: flex;
                            justify-content: space-between;
                            font-size: 20px;
                            margin: 10px 0;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
            .delivery-container{
                width: 80%;
                margin: 5px auto;
                background-color: var(--colorLight);
                border-radius: 10px;
                padding: 10px;
                height: 25rem;
                .delivery-add{
                    padding: 5px;
                    .delivery-add-top{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p{
                            font-size: 15px;
                            font-weight: 700;
                            color: #aaa;

                        }
                        a{
                            font-size: 12px;
                            text-transform: uppercase;
                            text-decoration: underline;
                            font-weight: 700;
                            padding: 0 15px;
                            color: var(--colorOrange);
                        }
                    }
                    .delivery-res{
                        padding: 10px 0;
                        font-size: 17px;
                        font-weight: 500;
                    }
                }
            }
        }

        .checkout-btn {
            width: 90%;
            margin: auto;

        }

        .MuiButton-containedPrimary {
            width: 70%;
            margin: 5px;
            padding: 10px;
            border-radius: 10px;
            background-color: var(--colorGreen);
        }

        .MuiButton-root.Mui-disabled {
            color: var(--colorWhite);
            font-size: 30px;
            border-radius: 10px;
            width: 20%;
            padding: 6px;
            background-color: #095202;



        }
        .bck-btn {
            color: var(--colorYellow);
            font-size: 30px;
            border-radius: 10px;
            width: 20%;
            padding: 6px;
            background-color: var(--colorGreen);


        }

        .MuiStepIcon-root.MuiStepIcon-active {
            color: var(--colorYellow);
        }

        .MuiStepIcon-root.MuiStepIcon-completed {
            color: var(--colorGreen);
        }

        .MuiStepConnector-active {
            border-color: var(--colorGreen);
        }

        .MuiStepConnector-lineHorizontal {
            border-top-width: 4px;
        }

        .MuiStepConnector-line-active {
            border-color: var(--colorGreen);
        }

        .MuiStepIcon-text {
            display: none;
        }
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .root {
        max-width: 100%;

        .heading {
            width: 90%;
            margin: auto;
            text-align: center;
            padding-top: 2.5rem;
            padding-bottom: -2.5rem;
            font-size: 25px;
            font-weight: 700;
            color: var(--colorGreen);
        }

        .MuiStepper-root {
            padding: 10px;
        }

        .root-body {
            width: 100%;
            margin: auto;

            .summary-container {
                width: 100%;
                margin: 10px auto;


                .item-summary {
                    overflow-y: scroll;
                    height: 16rem;

                    .item-in-cart {
                        width: 90%;
                        margin: 10px auto;
                        background-color: var(--colorLight);
                        border-radius: 10px;
                        padding: 10px;
                        display: flex;

                        .items-in-cart-details {
                            width: 75%;

                            p {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font-size: 16px;
                                color: var(--colorBlack);
                                font-weight: 900;
                                padding: 0 10px;

                            }

                            span {
                                font-size: 13px;
                                padding: 0 10px;

                            }
                        }

                        .items-in-cart-amount {
                            width: 25%;
                            padding: 8px;
                            font-size: 25px;
                            font-weight: 600;
                            color: #aaa;
                        }
                    }
                }

                .total-container {
                    width: 70%;
                    margin: auto;
                    padding: 10px;

                    .ttl {
                        display: flex;
                        margin: 3px 0;
                        justify-content: space-between;

                        p {
                            font-size: 16px;
                            font-weight: 600
                        }
                    }

                }

                .total-amount {
                    width: 80%;
                    margin: auto;
                    padding: 20px;
                    border-top: solid 0.5px #aaa;

                    .ttl {
                        width: 95%;
                        display: flex;
                        margin: 3px 0;
                        justify-content: space-between;

                        p {
                            font-size: 20px;
                            font-weight: 600;
                            color: var(--colorBlack);

                        }

                        .px-1 {
                            color: black;
                        }
                    }
                }
            }
        }
        .delivery-container{
            width: 80%;
            margin: 5px auto;
            background-color: var(--colorLight);
            border-radius: 10px;
            padding: 10px;
            height: 25rem;
            .delivery-add{
                padding: 5px;
                .delivery-add-top{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    p{
                        font-size: 15px;
                        font-weight: 700;
                        color: #aaa;

                    }
                    a{
                        font-size: 12px;
                        text-transform: uppercase;
                        text-decoration: underline;
                        font-weight: 700;
                        padding: 0 15px;
                        color: var(--colorOrange);
                    }
                }
                .delivery-res{
                    padding: 10px 0;
                    font-size: 17px;
                    font-weight: 500;
                }
            }
        }
        .customer-details-container {
            width: 90%;
            height: 27.05rem;
            margin: auto;
            overflow-y: scroll;

            .customer-details {
                width: 90%;
                margin: auto;
                padding: 10px;
                border-radius: 10px;
                background-color: var(--colorLight);

                .heading {
                    margin: 0;
                    padding: 0;
                    color: #aaa;
                    font-size: 20px;
                }

                .details {
                    width: 98%;
                    margin: auto;

                    span {
                        font-size: 12px;
                        color: #aaa;
                        font-weight: 600;
                    
                    }
                    .response{
                        display: flex;
                        justify-content: space-between;
                        font-size: 20px;
                        margin: 10px 0;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
        .checkout-btn {
            width: 90%;
            margin: auto;

        }

        .MuiButton-containedPrimary {
            width: 70%;
            margin: 5px;
            padding: 10px;
            border-radius: 10px;
            background-color: var(--colorGreen);
        }
        .bck-btn {
            color: var(--colorYellow);
            font-size: 30px;
            border-radius: 10px;
            width: 20%;
            padding: 6px;
            background-color: var(--colorGreen);


        }
        .MuiButton-root.Mui-disabled {
            color: var(--colorWhite);
            font-size: 30px;
            border-radius: 10px;
            width: 20%;
            padding: 6px;
            background-color: #095202;



        }

        .MuiStepIcon-root.MuiStepIcon-active {
            color: var(--colorYellow);
        }

        .MuiStepIcon-root.MuiStepIcon-completed {
            color: var(--colorGreen);
        }

        .MuiStepConnector-active {
            border-color: var(--colorGreen);
        }

        .MuiStepConnector-lineHorizontal {
            border-top-width: 4px;
        }

        .MuiStepConnector-line-active {
            border-color: var(--colorGreen);
        }

        .MuiStepIcon-text {
            display: none;
        }
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .root {
        max-width: 100%;

        .heading {
            width: 90%;
            margin: auto;
            text-align: center;
            padding-top: 2.5rem;
            padding-bottom: -2.5rem;
            font-size: 25px;
            font-weight: 700;
            color: var(--colorGreen);
        }

        .MuiStepper-root {
            padding: 10px;
        }
        .bck-btn {
            color: var(--colorYellow);
            font-size: 30px;
            border-radius: 10px;
            width: 20%;
            padding: 6px;
            background-color: var(--colorGreen);


        }

        .root-body {
            width: 100%;
            margin: auto;

            .summary-container {
                width: 90%;
                margin: 10px auto;


                .item-summary {
                    overflow-y: scroll;
                    height: 16rem;

                    .item-in-cart {
                        width: 80%;
                        margin: 10px auto;
                        background-color: var(--colorLight);
                        border-radius: 10px;
                        padding: 10px;
                        display: flex;

                        .items-in-cart-details {
                            width: 80%;

                            p {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font-size: 16px;
                                color: var(--colorBlack);
                                font-weight: 900;
                                padding: 0 10px;

                            }

                            span {
                                font-size: 13px;
                                padding: 0 10px;

                            }
                        }

                        .items-in-cart-amount {
                            width: 25%;
                            padding: 8px;
                            font-size: 25px;
                            font-weight: 600;
                            color: #aaa;
                        }
                    }
                }

                .total-container {
                    width: 70%;
                    margin: auto;
                    padding: 10px;

                    .ttl {
                        display: flex;
                        margin: 3px 0;
                        justify-content: space-between;

                        p {
                            font-size: 16px;
                            font-weight: 600
                        }
                    }

                }

                .total-amount {
                    width: 70%;
                    margin: auto;
                    padding: 20px;
                    border-top: solid 0.5px #aaa;

                    .ttl {
                        width: 100%;
                        display: flex;
                        margin: 3px 0;
                        justify-content: space-between;

                        p {
                            font-size: 20px;
                            font-weight: 600;
                            color: var(--colorBlack);

                        }

                        .px-1 {
                            color: black;
                        }
                    }
                }
            }
        }
        .delivery-container{
            width: 80%;
            margin: 5px auto;
            background-color: var(--colorLight);
            border-radius: 10px;
            padding: 10px;
            height: 25rem;
            .delivery-add{
                padding: 5px;
                .delivery-add-top{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    p{
                        font-size: 15px;
                        font-weight: 700;
                        color: #aaa;

                    }
                    a{
                        font-size: 12px;
                        text-transform: uppercase;
                        text-decoration: underline;
                        font-weight: 700;
                        padding: 0 15px;
                        color: var(--colorOrange);
                    }
                }
                .delivery-res{
                    padding: 10px 0;
                    font-size: 17px;
                    font-weight: 500;
                }
            }
        }
        .customer-details-container {
            width: 90%;
            height: 27.05rem;
            margin: auto;
            overflow-y: scroll;

            .customer-details {
                width: 90%;
                margin: auto;
                padding: 10px;
                border-radius: 10px;
                background-color: var(--colorLight);

                .heading {
                    margin: 0;
                    padding: 0;
                    color: #aaa;
                    font-size: 20px;
                }

                .details {
                    width: 98%;
                    margin: auto;

                    span {
                        font-size: 12px;
                        color: #aaa;
                        font-weight: 600;
                    
                    }
                    .response{
                        display: flex;
                        justify-content: space-between;
                        font-size: 20px;
                        margin: 10px 0;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
        .checkout-btn {
            width: 60%;
            margin: auto;

        }

        .MuiButton-containedPrimary {
            width: 70%;
            margin: 5px;
            padding: 10px;
            border-radius: 10px;
            background-color: var(--colorGreen);
        }

        .MuiButton-root.Mui-disabled {
            color: var(--colorWhite);
            font-size: 30px;
            border-radius: 10px;
            width: 20%;
            padding: 6px;
            background-color: #095202;



        }

        .MuiStepIcon-root.MuiStepIcon-active {
            color: var(--colorYellow);
        }

        .MuiStepIcon-root.MuiStepIcon-completed {
            color: var(--colorGreen);
        }

        .MuiStepConnector-active {
            border-color: var(--colorGreen);
        }

        .MuiStepConnector-lineHorizontal {
            border-top-width: 4px;
        }

        .MuiStepConnector-line-active {
            border-color: var(--colorGreen);
        }

        .MuiStepIcon-text {
            display: none;
        }
    }
}

@media (min-width: 1200px) {
    .root {
        max-width: 100%;

        .heading {
            width: 90%;
            margin: auto;
            text-align: center;
            padding-top: 2.5rem;
            padding-bottom: -2.5rem;
            font-size: 25px;
            font-weight: 700;
            color: var(--colorGreen);
        }

        .MuiStepper-root {
            padding: 10px;
        }
        .bck-btn {
            color: var(--colorYellow);
            font-size: 30px;
            border-radius: 10px;
            width: 20%;
            padding: 6px;
            background-color: var(--colorGreen);


        }
        .root-body {
            width: 100%;
            margin: auto;

            .summary-container {
                width: 90%;
                margin: 10px auto;


                .item-summary {
                    overflow-y: scroll;
                    height: 16rem;

                    .item-in-cart {
                        width: 80%;
                        margin: 10px auto;
                        background-color: var(--colorLight);
                        border-radius: 10px;
                        padding: 10px;
                        display: flex;

                        .items-in-cart-details {
                            width: 80%;

                            p {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font-size: 16px;
                                color: var(--colorBlack);
                                font-weight: 900;
                                padding: 0 10px;

                            }

                            span {
                                font-size: 13px;
                                padding: 0 10px;

                            }
                        }

                        .items-in-cart-amount {
                            width: 25%;
                            padding: 8px;
                            font-size: 25px;
                            font-weight: 600;
                            color: #aaa;
                        }
                    }
                }

                .total-container {
                    width: 70%;
                    margin: auto;
                    padding: 10px;

                    .ttl {
                        display: flex;
                        margin: 3px 0;
                        justify-content: space-between;

                        p {
                            font-size: 16px;
                            font-weight: 600
                        }
                    }

                }

                .total-amount {
                    width: 70%;
                    margin: auto;
                    padding: 20px;
                    border-top: solid 0.5px #aaa;

                    .ttl {
                        width: 100%;
                        display: flex;
                        margin: 3px 0;
                        justify-content: space-between;

                        p {
                            font-size: 20px;
                            font-weight: 600;
                            color: var(--colorBlack);

                        }

                        .px-1 {
                            color: black;
                        }
                    }
                }
            }
        }
        .customer-details-container {
            width: 80%;
            height: 27.05rem;
            margin: auto;
            overflow-y: scroll;

            .customer-details {
                width: 90%;
                margin: auto;
                padding: 10px;
                border-radius: 10px;
                background-color: var(--colorLight);

                .heading {
                    margin: 0;
                    padding: 0;
                    color: #aaa;
                    font-size: 20px;
                }

                .details {
                    width: 98%;
                    margin: auto;

                    span {
                        font-size: 12px;
                        color: #aaa;
                        font-weight: 600;
                    
                    }
                    .response{
                        display: flex;
                        justify-content: space-between;
                        font-size: 20px;
                        margin: 10px 0;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
        .delivery-container{
            width: 80%;
            margin: 5px auto;
            background-color: var(--colorLight);
            border-radius: 10px;
            padding: 10px;
            height: 25rem;
            .delivery-add{
                padding: 5px;
                .delivery-add-top{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    p{
                        font-size: 15px;
                        font-weight: 700;
                        color: #aaa;

                    }
                    a{
                        font-size: 12px;
                        text-transform: uppercase;
                        text-decoration: underline;
                        font-weight: 700;
                        padding: 0 15px;
                        color: var(--colorOrange);
                    }
                }
                .delivery-res{
                    padding: 10px 0;
                    font-size: 17px;
                    font-weight: 500;
                }
            }
        }
        .checkout-btn {
            width: 60%;
            margin: auto;

        }

        .MuiButton-containedPrimary {
            width: 70%;
            margin: 5px;
            padding: 10px;
            border-radius: 10px;
            background-color: var(--colorGreen);
        }

        .MuiButton-root.Mui-disabled {
            color: var(--colorWhite);
            font-size: 30px;
            border-radius: 10px;
            width: 20%;
            padding: 6px;
            background-color: #095202;



        }

        .MuiStepIcon-root.MuiStepIcon-active {
            color: var(--colorYellow);
        }

        .MuiStepIcon-root.MuiStepIcon-completed {
            color: var(--colorGreen);
        }

        .MuiStepConnector-active {
            border-color: var(--colorGreen);
        }

        .MuiStepConnector-lineHorizontal {
            border-top-width: 4px;
        }

        .MuiStepConnector-line-active {
            border-color: var(--colorGreen);
        }

        .MuiStepIcon-text {
            display: none;
        }
    }
}