.NavbarItems {
  height: 50%;
  background: var(--ColorWhite);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--ColorPink);
}
.navbar-logo {
  justify-self: start;
  margin-left: 10px;
  cursor: pointer;
}
.navbar-logo img {
  margin: 5px;
  height: 55px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 87vw;
  justify-content: end;
  align-items: center;
  margin-right: 2rem;
}

.nav-links {
  color: var(--ColorPink);
  text-decoration: none;
  padding: 0.5rem 0.6rem;
}

.nav-links:hover {
  border-radius: 4px;
  color: var(--ColorWhite);
  background-color: var(--ColorPink);
  transition: all 0.2s ease-out;
}
.user{
  display: flex;
  justify-content: center;
  align-items: center;
}
.user > img {
  border: 2px;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border-radius: 50px;
}
.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  
  .NavbarItems {
    position: relative;
    height: 80px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;    
    background-color: var(--ColorWhite);
  }
  .nav-menu.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .navbar-logo img {
    margin-top: -12px;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: var(--ColorPink);
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
  .menu-icon {
    display: block;
    position: absolute;
    list-style-type: none;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
