body {
  font-family: "Muli", sans-serif !important;
}

:root {
  --colorBlack: #1c1c1c;
  --colorLight: #f5f5f5;
  --colorGreen: #0e8502;
  --colorRed: #fa0214;
  --colorOrange: #FF6001;
  --colorYellow: #FFB302;
}